html{
  background: #eee;
  font-family: Helvetica, Arial, Sans-serif;
}

#test{
  position: absolute;
  top:    0px;
  right:  0px;
  bottom: 0px;
  left:   0px;
  background: white;
  overflow: auto;
}
.inner{
  position: absolute;
  top:3px;
  right:0px;
  bottom:3px;
  left:0px;
}
.hover-info{
  display: block;
  position:absolute;
  z-index: 40;
  background: rgba(222,222,222,1);
  width: 200px;
  margin-top: -86px;
  height: 68px;
  border-bottom: 8px solid red;
}
.hover-info .content{
  color: #333;
  padding: 8px 12px;
  font-size: 12px;
}
.hover-info:after{
  position: absolute;
  border: 10px solid transparent;
  border-top-color: inherit;
  content: ' ';
  top: 76px;
  left: 90px;
}
.hover-info.left:after{
  left: 30px;
}
.hover-info.right:after{
  left: 150px;
}
.cell{
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  
  z-index:1;
  overflow:hidden;
}
.cell a{
  text-decoration:none;
  cursor: pointer;
}
.cell-0{
  border-left-width: 1px;
}
.row-0{
}
.cell .timed{
  position: absolute;
  top: 2px;
  right:25px;
  bottom: 1px;
  left: 5px;
  padding-top:3px;
}
.cell .timed a{
  display:block;
  height:0px;
  width:0px;
  float: left;
  border: 6px solid #2e3436;
  margin: 0px 3px 3px 0px;
}
.cell a.all-day{
  display:block;
  height:0px;
  border-top: 7px solid #ccc;
  position:absolute;
  right: 6px;
  bottom: auto;
  left: 5px;
}
.cell a.all-day.cont{
  opacity: 0.15;
}

.cell .slot-1{ top: 2px; }
.cell .slot-2{ top: 8px; }
.cell .slot-3{ top: 14px; }
.cell .slot-4{ top: 20px; }
.cell .slot-5{ top: 26px; }
.cell .slot-6{ top: 32px; }
.cell .slot-7{ top: 38px; }
.cal-entry{
  height: 14px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  white-space:nowrap;
  overflow: hidden;
  color: black;
  padding: 0px .5%;
  z-index:2;
}
.calendar-space-allocator{
  overflow:hidden;
  position:absolute;
  right: 20px;
  left:30px;
  top:0px;
  bottom:auto;
}
.cell span{
  position:absolute;
  right:1px;
  top:auto;
  bottom: 1px;
  padding: 2px 3px;
  font-size: 18px;
  font-weight: 100;
  line-height: 100%;
  color: #aaa;
  z-index: 10;
}
.cell.today{
  background: #def5ff;
}
.cell.today span{
  background: #def5ff;
  color: #009ade;
}
.month-header{
  width:30px;
  color: #888;
  font-size: 11px;
  text-align:center;
  border-right: 1px solid #eee;
}
.month-header::before{
  font-size: 26px;
  position: absolute;
  padding: 0px;
  line-height:100%;
  white-space: nowrap;
  font-weight: 100;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.month-1  { background: #ffffff; border-color: #ddd; }
.month-3  { background: #ffffff; border-color: #ddd; }
.month-5  { background: #ffffff; border-color: #ddd; }
.month-7  { background: #ffffff; border-color: #ddd; }
.month-9  { background: #ffffff; border-color: #ddd; }
.month-11 { background: #ffffff; border-color: #ddd; }
.month-2  { background: #f6f6f6; border-color: #ddd; }
.month-4  { background: #f6f6f6; border-color: #ddd; }
.month-6  { background: #f6f6f6; border-color: #ddd; }
.month-8  { background: #f6f6f6; border-color: #ddd; }
.month-10 { background: #f6f6f6; border-color: #ddd; }
.month-12 { background: #f6f6f6; border-color: #ddd; }


.month-header.month-1::before{  content:"Januar"; } 
.month-header.month-2::before{  content:"Februar"; } 
.month-header.month-3::before{  content:"März"; } 
.month-header.month-4::before{  content:"April"; } 
.month-header.month-5::before{  content:"Mai"; } 
.month-header.month-6::before{  content:"Juni"; } 
.month-header.month-7::before{  content:"Juli"; } 
.month-header.month-8::before{  content:"August"; } 
.month-header.month-9::before{  content:"September"; } 
.month-header.month-10::before{ content:"Oktober"; }
.month-header.month-11::before{ content:"November"; }
.month-header.month-12::before{ content:"Dezember"; }

.month-header.month-1.size-1::before{  content:"Jan"; } 
.month-header.month-2.size-1::before{  content:"Feb"; } 
.month-header.month-3.size-1::before{  content:"Mär"; } 
.month-header.month-4.size-1::before{  content:"Apr"; } 
.month-header.month-5.size-1::before{  content:"Mai"; } 
.month-header.month-6.size-1::before{  content:"Jun"; } 
.month-header.month-7.size-1::before{  content:"Jul"; } 
.month-header.month-8.size-1::before{  content:"Aug"; } 
.month-header.month-9.size-1::before{  content:"Sep"; } 
.month-header.month-10.size-1::before{ content:"Okt"; }
.month-header.month-11.size-1::before{ content:"Nov"; }
.month-header.month-12.size-1::before{ content:"Dez"; }